body {
    margin: 0; 
    padding: 0;
    height: 100vh;
    text-align: center;
    background-image: url("https://images.unsplash.com/photo-1665652475985-37e285aeff53?q=80&w=3431&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
}

#root {
  margin: 0 auto;
  margin-top: 35vh;
}

.container {
  width: 1000px;
  margin: auto;
}

.inputContainer {
  text-align: left;
}

.input {
width: 20px
}

h2 {
  color: #d3d3d3;
  text-align: left;
  margin-top: 5%;
  font-family: sans-serif;
  color: #9fa4b2;
}

p {
  color: #d3d3d3;
  text-align: left;
  font-family: sans-serif;
}

.header {
  color: #fff; 
  font-weight: bold;
  font-family: sans-serif;
  font-size: 55px; 
  text-align: left;
}

.input  {
  margin-right: 10px;
  font-weight: bold;
  color:#d3d3d3;
  height: 50px;
  width: 200px;
  margin-top: 5%;
  background: rgba(130, 130, 202, 0.224);
  border-radius: 16px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(50px);
  border: 1px solid rgba(144, 125, 207, 0.61);
  
}

.add-stock-btn {
  font-size:20px;
  font-weight: bold;
  height: 55px;
  margin-left: 40px;
  width: 200px;
  color: #26252c; 
  margin-top: 5%;
  border-radius: 15px;
}

button {
  font-weight: bold;
  font-family: sans-serif;
  background-color: hsl(262, 90%, 81%);
  cursor: pointer;
  transition: border-color 0.20s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.stock-item {
  color: #d3d3d3;
  width: 200px;
  text-align: left;
  font-family: sans-serif;
  padding: 20px;
}


